<html>
    <head>
        <title> {% block title %} {% endblock %}</title>
        <script src={{url_for('static', filename='css/jquery-3.1.1.min.js')}} type="text/javascript"></script>
        <script src = {{url_for('static', filename='css/semantic.js')}} type = "text/javascript"> </script>
        <link rel="stylesheet" href={{url_for('static', filename='css/semantic.css')}}>
    </head>
    <body>
        <div class = "ui secondary pointing menu">
            {% if current_user.is_authenticated %}
                <span class="item">{{ current_user.name }}</span>
            {% endif %}
            <a class = "item" href="/">Home</a>
            {% if not current_user.is_authenticated %}
                <a class = "item" href="/login"> Login </a>
                <a class = "item" href="/signup"> Signup </a>
            {% else %}
                <a class = "item" href="/follow"> follow </a>
                <a class = "item" href="/post"> Post </a>
                <a class = "item" href="/logout"> Logout </a>

            {% endif %}
        </div>

        <h1 class = "ui center aligned header"> Socialize </h1>
        {% block content %}
        {% endblock %}
    </body>
</html>
