{% extends 'base.html' %}

{% block title %}Log In - Socialize{% endblock %}

{% block content %}
<div class = "ui centered two column grid">
    <div class = "five wide column" style="position: relative; top:150px">

	    <form class = "ui form" method = 'post'>
	        <h3 class = "ui dividing header"> Login </h3>
	        <div class = "field">
	            <input type = "text" name = "username" placeholder = "Username"> </input>
	            <input type = "password" name = "password" placeholder = "Password"> </input>
	        </div>
	         <div class = "field">
	            <input type = "submit" class = "ui primary button" value = "Login">
	        </div>
	    </form>
    </div>
</div>
{% endblock %}
